# Add any directories, files, or patterns you don't want to be tracked by version control
WpfUIControls/bin/Debug/nunit_random_seed.tmp
WFHost/bin/Debug/nunit_random_seed.tmp
WpfTest/bin/Debug/nunit_random_seed.tmp
WpfUIControls/obj/Debug/GeneratedInternalTypeHelper.g.cs
WpfUIControls/obj/Debug/UI/Additional/WorldObjectRow.baml
WpfUIControls/obj/Debug/UI/Additional/WorldObjectRow.g.cs
WpfUIControls/obj/Debug/UI/Additional/WorldObjectRow.g.i.cs
WpfUIControls/obj/Debug/WpfUIControls.csproj.FileListAbsolute.txt
WpfUIControls/obj/Debug/WpfUIControls_MarkupCompile.i.lref
WpfUIControls/obj/Debug/WpfUIControls_MarkupCompile.lref
WpfUIControls/obj/Debug/WpfUIControls.g.resources
WpfUIControls/obj/Debug/UI/Main/WorldObjects.baml
WpfUIControls/obj/Debug/UI/Main/WorldObjects.g.cs
WpfUIControls/obj/Debug/UI/Main/WorldObjects.g.i.cs
WpfUIControls.VC.db
WpfTest/obj/Debug/WorldObjectsWindow.baml
WpfTest/obj/Debug/WorldObjectsWindow.g.cs
WpfTest/obj/Debug/WorldObjectsWindow.g.i.cs
WpfTest/obj/Debug/WpfTest.g.resources
WFHost/obj/Debug/build.force
WpfTest/obj/Debug/WpfTest_MarkupCompile.i.lref
WpfUIControls/obj/Debug/UI/Additional/ContentItem.g.i.cs
WpfTest/obj/Debug/MainWindow.baml
WpfTest/obj/Debug/MainWindow.g.cs
WpfTest/obj/Debug/MainWindow.g.i.cs
WpfUIControls/obj/Debug/UI/Additional/ContentItem.baml
WpfUIControls/obj/Debug/UI/Additional/ContentItem.g.cs
